.input{
    appearance: none;
    outline: 0;
    width: 250px;
    border: 1px solid rgba(255,255,255, 0.4);
    background-color: rgba(255,255,255, 0.2);
    border-radius: 3px;
    padding: 10px 15px;
    margin: 0 auto 10px auto;
    display: block;
    text-align: center;
    font-size: 18px;
    
    color: #000;
    
    transition-duration: 0.25s;
    font-weight: 300;
    
    &:hover{
        background-color: rgba(255,255,255, 0.4);
    }
    
    &:focus{
        background-color: white;
        width: 300px;
        
        color: #000;
    }
}
.sizeXS{
    max-width: 50px;
}
.label{
    display: block;
    margin-bottom: 5px;
    font-size: 20px;
}