@import-normalize;
@import url("https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap");

html {
    font-family: "Open Sans Condensed", sans-serif;
}

$azure-color: #98d0c2;
$blue-color: #4d5284;
$purple-color: #9794c4;
.wrapper {
    min-height: 100vh;
    background: #50a3a2;
    background: linear-gradient(to bottom right, $azure-color 40%, $purple-color 100%);
    padding: 16px;
}
